{% extends "base.html" %}
{% block content %}

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1>Prescription Not Found</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="error-page">
                <h2 class="headline text-warning">404</h2>
                <div class="error-content">
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i> Prescription Not Found</h3>
                    
                    <p>
                        The prescription you are trying to access could not be found. This may have occurred because:
                    </p>
                    
                    <ul>
                        <li>The prescription has been deleted</li>
                        <li>The prescription ID is incorrect</li>
                        <li>The prescription belongs to a different encounter</li>
                    </ul>
                    
                    {% if prescription_id %}
                    <div class="alert alert-info">
                        <strong>Prescription ID:</strong> #{{ prescription_id }}
                    </div>
                    {% endif %}
                    
                    {% if error_message %}
                    <div class="alert alert-warning">
                        <strong>Details:</strong> {{ error_message }}
                    </div>
                    {% endif %}
                    
                    <p>
                        <a href="/pharmacy" class="btn btn-primary mt-3">
                            <i class="fas fa-prescription-bottle mr-1"></i> Return to Pharmacy
                        </a>
                        <a href="javascript:history.back()" class="btn btn-secondary mt-3 ml-2">
                            <i class="fas fa-arrow-left mr-1"></i> Go Back
                        </a>
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
